/* spaces out the page */
body {
    padding: 10px;
    margin: 10px;
    background: url('../images/background-img.jpeg');
    cursor: url('../cursors/cursor.svg'), pointer;
    font-family: Raleway, sans-serif;
    text-align: left;
}

/*Make the h1 heading bigger with a bold font*/
h1 {
    /* 1em is 16px */
    color: rgb(115, 36, 57);
    padding: 30px;
    margin: 10px;
    text-align: center;
}

h1#landscapes,
h1#contact_h1,
h1#baptism,
h1#engagement,
h1#portraits,
h1#nature {
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(115, 36, 57);
    margin-bottom: 5px;
    padding-bottom: 5px;
}
p {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    line-height: normal;
}

legend {
    font-family: 'Raleway', sans-serif;
    color: rgb(115, 36, 57);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    line-height: normal;
}

a {
    color: black;
}

a#nature_redirect {
    color: white;
}

a:-webkit-any-link {
    text-decoration: none;
}

/* only changes the page youre currently on */
.active {
    background: rgb(221, 175, 25);
    text-transform: uppercase;
    text-align: left;
    border-radius: 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.active a {
    text-decoration-style: double;
    font-family: Raleway, sans-serif;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}


h1#index_title {
    font-family: 'Dawning of a New Day', cursive;
    padding: 20px 20px 20px 20px;
    font-weight: 600;
    font-size: 45px;
    animation-name: indextitle_animation;
    animation-duration: 2s;
}

@keyframes indextitle_animation {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}

h1#index_title {
    text-align: center;
}


/* FLEX */
nav ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

nav li {
    width: 100%;
    background: rgb(218, 218, 218);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    margin: 10px 0px 10px 0px;
}

li {
    color: black;
}

/*Added this so the links stay the same color*/
a:visited {
    color: black;
}

/* could use a different color */

/* container in the contact.html */
.contact {
    font-size: 20px;
    padding: 20px;
    background: solid;
    border-radius: 10px;
    display: block;
    row-gap: 50px;
    text-align: stretch;
    justify-content: space-between;
}

input[type="text"i] {
    padding: 10px 20px;
    border-radius: 30px;
}

input[type="email"i] {
    padding: 10px 20px;
    border-radius: 30px;
}

input[type="message"i] {
    padding: 10px 20px;
    border-radius: 30px;
    box-sizing: border-box;
    resize: auto;
}


input[type="submit"i] {
    padding: 10px 20px;
    border-radius: 30px;
}

input[type="submit"i]:hover {
    background: rgb(221, 175, 25);
}

#contact_container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Home Page Tiles */
#ppl {
    background: white;
    border-radius: 2px;
    height: 210px;
    /* width: 210px; */
    justify-items: center;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: box-shadow 0.3s;
    border-radius: 8px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    background: url(../images/portrait1.jpeg);
    justify-items: center;
    background-size: cover;
    padding: 50px;
    margin: 10px 0px 10px 0px;
}

.people_tiles:hover {
    opacity: .8;
}

span,
a#nature_redirect,
a#landscape_redirect,
a#portraits_redirect {
    font-size: larger;
    font-weight: 600;
    color: rgb(115, 36, 57);
    background: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.subtext {
    font-style: italic;
    font-size: small;
    color: rgb(115, 36, 57);
    background: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

#land {
    background: white;
    border-radius: 2px;
    height: 210px;
    /* width: 210px; */
    justify-items: center;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: box-shadow 0.3s;
    border-radius: 10px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    background: url('../images/land2.jpeg');
    justify-items: center;
    background-size: cover;
    padding: 50px;
    margin: 10px 0px 10px 0px;
}

.landscape_tiles:hover {
    opacity: .8;
}
/* Flex for Nature page */
.nature_gallery_images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
    padding-bottom: 10px;
}

/* nature tile */
#nat {
    border-radius: 2px;
    height: 210px;
    /* width: 210px; */
    justify-items: center;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: box-shadow 0.3s;
    border-radius: 8px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    background: url('../images/land3.jpeg');
    justify-items: center;
    background-size: cover;
    padding: 50px;
    margin: 10px 0px 10px 0px;
}

.nature_tiles:hover {
    opacity: .8;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

.skip {
    text-align: right;
    font-size: 15px;
    position: relative;
    right: 500px;
}

details {
    /* cursor: pointer; */
    color: rgb(115, 36, 57);
    padding-top: 30px;
    margin: 5px;
}

/* details tag when open slides in from the left */
@keyframes open {
    0% {
        opacity: 0;
        margin-left: -20px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

details[open] summary~* {
    animation: open 1.5s ease-in-out;
}

summary {
    text-align: center;
    font-size: large;
}

.movingimage {
    width: 80%;
    height: 80%;
    gap: 30px;
    transition: .5s ease-in-out;
    border: dashed;
}

.movingimage:hover {
    transform: scale(1.1);
    opacity: .9;
}

img#img1,
img#img2,
img#img3,
img#img4,
img#img5,
img#img6,
img#img7,
img#img8,
img#img9,
img#img10,
img#img11 {
    width: 80%;
    height: 80%;
    gap: 30px;
    margin: 5px;
}

div.image {
    text-align: center;
}

div.img:hover {
    border-radius: 13px;
    box-shadow: rgb(88, 74, 78) 0.3s;
    opacity: .6;
}

img:hover {
    border-radius: 13px;
    box-shadow: rgb(88, 74, 78) 0.3s;
    opacity: .8;
}

.landscapes_gallery_item {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: rgb(37, 21, 26);
}

p#landscapes_text {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    text-align: left;
    line-height: normal;
}

.landimg img {
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}

/* cursors WORK on Safari & FF */
.engagement_gallery_container,
#engagement {
    cursor: url('../cursors/heart.svg'), pointer;
}

.baptism_gallery_container {
    cursor: url('../cursors/book.svg'), pointer;
}

.portraits_gallery_container,
#portraits {
    cursor: url('../cursors/camera.svg'), pointer;
}

#footertext {
    font: 35px black;
    font-family: 'Dawning of a New Day', cursive;
}

p#footertext {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

span#fa_text {
    color: black;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    background: none;
}

footer {
    text-align: center;
    padding-bottom: 25px;
    background-color: rgb(221, 175, 25);
}

.fa-linkedin,
.fa-instagram {
    /* padding: 5px 0px 5px 0px; */
    /* margin: 1%; */
    opacity: 1;
    text-align: center;
}

.fa-linkedin:hover {
    background: none;
    opacity: 0.5;
}

.fa-instagram:hover {
    background: none;
    opacity: 0.5;
}

/* edits the head favicon icon in contact form */
.fa-solid,
fa-user {
    color: black;
    background: none;
    padding: 0px;
    margin: 0px;
}

form {
    border: 10px;
}

@media screen and (min-width: 770px) {
    .parallax {
        /* grid-column: 1 / 3; */
        background-color: rgb(221, 175, 25);
        background-image: url('../images/contact1.png');
        background-size: 100%;
        height: 200px;
        background-attachment: fixed;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
}

.parallax {
    background-image: url('../images/contact1.png');
    background-size: cover;
}

.parallax>img {
    width: 50%;
    height: auto;
    visibility: hidden;
}

/* ********************************
********* FLIP CARD **********
*********************************** */
.flip_card_text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.flip_card {
    background-color: rgb(221, 175, 25);
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner,
.flip_card:focus,
.flip_card:focus-within .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_card_front {
    background-color: rgb(221, 175, 25);
    align-items: center;
    justify-content: center;
}

.flip_card_back {
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
}

/* ********************************
********* PREFERS REDUCED MOTION **********
*********************************** */
@media (prefers-reduced-motion) {
    h1#index_title {
        animation: none;
    }

    .movingimage {
        transition: none;
    }

    .movingimage:hover {
        transition: none;
        transform: none;
        opacity: 1;
    }
    #nat, #land, #ppl {
        opacity: 1;
        transform: none;
    }

    .flip_card:hover .flip_card_inner {
        transform: none;
    }

    .flip_card:focus .flip_card_inner {
        transform: none;
    }

    details[open] summary~* {
        animation: none;
    }

    .parallax {
        background-attachment: scroll;
    }
    img:hover {
        transform: none;
        animation: none;
        border-radius: 0;
        opacity:1;
    }
}

/* ********************************
********* TABLET VIEW **********
*********************************** */

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }

    .parent_tiles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #ppl {
        grid-column-start: 1;
        grid-column-end: 2;
        background: white;
        border-radius: 2px;
        height: 135px;
        width: 135px;
        justify-items: center;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: box-shadow 0.3s;
        border-radius: 8px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        background: url(../images/portrait1.jpeg);
        justify-items: center;
        background-size: cover;
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }

    .people_tiles:hover {
        opacity: .8;
    }

    span,
    a#nature_redirect,
    a#landscape_redirect,
    a#portraits_redirect {
        font-size: larger;
        font-weight: 600;
        color: rgb(115, 36, 57);
        background: white;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }

    #land {
        grid-column-start: 2;
        grid-column-end: 3;
        background: white;
        border-radius: 2px;
        height: 135px;
        width: 135px;
        justify-items: center;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: box-shadow 0.3s;
        border-radius: 10px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        background: url('../images/land2.jpeg');
        justify-items: center;
        background-size: cover;
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }

    /* nature tile */
    #nat {
        grid-column-start: 3;
        grid-column-end: 4;
        border-radius: 2px;
        height: 135px;
        width: 135px;
        align-items: center;
        justify-items: center;
        vertical-align: middle;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: box-shadow 0.3s;
        border-radius: 8px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        background: url('../images/land3.jpeg');
        justify-items: center;
        background-size: cover;
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }

    .baptism_gallery_images {
        cursor: url('../cursors/book.svg'), pointer;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    img#img1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    img#img2 {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    img#img3 {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .engagement_gallery_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    img#img4 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    img#img5 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    img#img6 {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .portraits_gallery_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    img#img7 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    img#img8 {
        grid-column-start: 4;
        grid-column-end: 7;
    }

    img#img9 {
        grid-column-start: 1;
        grid-column-end: 3;

    }

    img#img10 {
        grid-column-start: 3;
        grid-column-end: 5;

    }

    img#img11 {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .landscapes_gallery_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        padding-bottom: 10px;
    }

    .nature_gallery_images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1080px) {
    body{
        padding: 50px;
        margin:20px;
    }
    .parent_tiles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #ppl {
        grid-column-start: 1;
        grid-column-end: 2;
        background: white;
        border-radius: 2px;
        height: 250px;
        width: 250px;
        justify-items: center;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: box-shadow 0.3s;
        border-radius: 8px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        background: url(../images/portrait1.jpeg);
        justify-items: center;
        background-size: cover;
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }

    #land {
        grid-column-start: 2;
        grid-column-end: 3;
        background: white;
        border-radius: 2px;
        height: 250px;
        width: 250px;
        justify-items: center;
        text-align: center;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: box-shadow 0.3s;
        border-radius: 10px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        background: url('../images/land2.jpeg');
        justify-items: center;
        background-size: cover;
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }

    /* nature tile */
    #nat {
        grid-column-start: 3;
        grid-column-end: 4;
        border-radius: 2px;
        height: 250px;
        width: 250px;
        align-items: center;
        justify-items: center;
        vertical-align: middle;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        transition: box-shadow 0.3s;
        border-radius: 8px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        background: url('../images/land3.jpeg');
        justify-items: center;
        background-size: cover;
        padding: 50px;
        margin: 10px 0px 10px 0px;
    }
    #contact_container{
        padding: 0px 300px 0px 300px;
    }
    p {
        padding: 10px 200px 10px 200px;
        text-align:center;
    }

    .landscapes_gallery_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        padding-bottom: 10px;
    }

    .nature_gallery_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        padding-bottom: 10px;
    }
}

/* CODE I WANT TO USE LATER BELOW */
/* details tag when open slides down from top */
/* @keyframes details-show {
    from {
      opacity:0;
      transform: var(--details-translate, translateY(-0.8em));
    }
  }

  details[open] > *:not(summary) {
    animation: details-show 1s ease-in-out;
} */


/* tiles in desktop version */
/* transition: .5s ease-in-out;
transform: scale(1.3); */